<form class="formulaire" [formGroup]="form">
    <h2 *ngIf="this.ticket !=undefined" class="formulaire__title">Modifier un tiket</h2>
    <h2 *ngIf="this.ticket ===undefined" class="formulaire__title">Ajouter un nouveau ticket</h2>
    <label class="formulaire__label" for="title">Nom du ticket</label>
    <input  class="formulaire__input" type="text" formControlName="title">

    <label class="formulaire__label" for="description">Contenu du ticket (1000 caractères)</label>
    <textarea  class="formulaire__input" name="content" cols="30" rows="10" formControlName="content"></textarea>

    <select *ngIf="this.ticket != undefined" class="formulaire__select" name="etat" formControlName="etat">
        <option value ='' disabled selected>Choisissez un état pour votre ticket</option>
        <option *ngFor="let etat of enumKeys">{{etat}}</option>
    </select>

    <select *ngIf="this.ticket === undefined" class="formulaire__select" name="etat" formControlName="etat">
        <option value ='' disabled selected>Choisissez un état pour votre ticket</option>
        <option>{{enumKeys[0]}}</option>
    </select>

    <button *ngIf="this.ticket===undefined" class="formulaire__submit" (click)="submit()">Ajouter un nouveau ticket</button>
    <button *ngIf="this.ticket != undefined" class="formulaire__submit" (click)="submit()">Modifier le ticket</button>
    <p class="formulaire__errors" *ngIf="errors">{{errors}}</p>
</form>