@font-face {
    font-family: "Nunito";
    src: url("../../../assets/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Open sans";
    src: url("../../../assets/OpenSans/OpenSans-Regular.ttf");
}

.formulaire {
    grid-column: 5/ span 4;
    display : grid; 
    grid-template-columns: repeat(4, 1fr);
    &__title {
        text-align: center;
        font-family: "Nunito";
        grid-column: 1 / span 4;
    }
    &__label {
        grid-column: 1/span 4;
        font-family: "Open sans";
        margin-bottom : 5px; 
    }
    &__input {
        grid-column: 1/span 4;
        margin-bottom : 10px; 
    }
    &__submit {
        grid-column: 1/span 4;
        background-color: #BF1D67;
        border : none; 
        color : white
    }
    &__errors{
        grid-column: 1/span 4;
        font-family: "Open sans";
    }
    &__select {
        margin-bottom : 10px; 
    }
}
