<form class="formulaire" [formGroup]="form">
    <h2 *ngIf="this.project !=undefined" class="formulaire__title">Modifier un projet</h2>
    <h2 *ngIf="this.project ===undefined" class="formulaire__title">Ajouter un nouveau projet</h2>
    <label class="formulaire__label" for="name">Nom du projet</label>
    <input  class="formulaire__input" type="text" formControlName="name">

    <label class="formulaire__label" for="description">Description du projet (500 caractères)</label>
    <textarea  class="formulaire__input" name="description" cols="30" rows="10" formControlName="description"></textarea>

    <button *ngIf="this.project===undefined" class="formulaire__submit" (click)="submit()">Ajouter un nouveau projet</button>
    <button *ngIf="this.project != undefined" class="formulaire__submit" (click)="submit()">Modifier le projet</button>

    <p class="formulaire__errors" *ngIf="errors">{{errors}}</p>
</form>