@font-face {
    font-family: "Nunito";
    src: url("../../../assets/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Open sans";
    src: url("../../../assets/OpenSans/OpenSans-Regular.ttf");
}

.ticket {
    grid-column: 2/span 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    &__title {
        font-family: "Nunito";
        grid-column: 1/ span 4;
        grid-row: 1/span 1;
    }
    &__content {
        font-family: "Open sans";
        grid-column: 1/ span 8;
    }
    &__date{
        font-family: "Open sans";
        grid-column: 1/ span 2;
    }
    &__etat{
        font-family: "Nunito";
        grid-column: 3/ span 3;
    }
    &__container {
        grid-column: 6/ span 2;
        grid-row: 1/span 1;
    }
    &__link{
        margin-right : 20px;
    }
    &__button {
        background-color: transparent;
        border: none;
    }
    &__icon {
        height : px; 
        margin-top: 15px;
    }
}