<article *ngIf="ticket" class="ticket">
    <div *ngIf="user.length > 0" vclass="ticket__container">
        <a class="ticket__link" [routerLink]="['/modifyTicket/' + ticket.id]"><img  class="ticket__icon" src="../../../assets/icon/Edit.png" alt="an icon of a pen"></a>
        <button (click)="deleteTicket()" class="ticket__button"><img  class="ticket__icon" src="../../../assets/icon/Trash.png" alt="an icon of a trash"></button>
    </div>  
    <h2 class="ticket__title">{{ticket.title}}</h2>
    <p class="ticket__content">{{ticket.content}}</p>
    <p class="ticket__date">{{ticket.date}}</p>
    <p *ngIf="ticket.etat=='TODO'" class="ticket__etat"> Etat : TO DO</p>
    <p *ngIf="ticket.etat=='INPROGRESS' "class="ticket__etat"> Etat : IN PROGRESS</p>
    <p *ngIf="ticket.etat=='DONE'"class="ticket__etat"> Etat : DONE</p>
</article>