@font-face {
    font-family: "Nunito";
    src: url("../../../assets/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Open sans";
    src: url("../../../assets/OpenSans/OpenSans-Regular.ttf");
}
.card{
    grid-column: span 4;
    display : grid; 
    grid-template-columns: repeat(4, 1fr);
    border : 1px solid #BF1D67;
    margin : {
        left : 10px;
        right : 10px; 
        top : 15px; 
    }
    padding : 10px; 
    &__title{
        font-family: "Nunito";
        grid-column: 1/ span 4;
    }
    &__description {
        font-family: "Open Sans";
        grid-column: 1/ span 4;
        height : 50px; 
    }

    &__date {
        font-family: "Open Sans";
        grid-column: 4/ span 1;
    }
    &__author{
        font-family: "Nunito";
        grid-column: 1/ span 2;
    }
    &__link {
        background-color : #EE2238;
        border-color: white;
        color : white;
        grid-column: 4/ span 1;
        height: 20px;
        text-align: center;
    }
}

.header__link:hover {
    background-color : #7C86E9
}

.home{
    &__container {
        grid-column: 1/span 12;
    }
    &__link {
        font-family: "Open sans";
        background-color: #EE2238;
        color : white; 
        padding : 5px;
        margin-left : 10px; 
    }
}
