
<div class="home__container">
    <a *ngIf="user.length > 0" class="home__link" routerLink="/newProject">Ajouter un nouveau projet +</a>
</div>

<article class="card" *ngFor="let project of projects">
    <h2 class="card__title">{{project.name}}</h2>
    <p class="card__description">{{project.description | slice:0:100}} ...</p>
    <a [routerLink]="['/project/',  project.id]" class="card__link">See Details</a>
    <p class="card__author">{{project.user.username}}</p>
    <p class="card__date">{{project.date}}</p>
</article>
