<form class="formulaire" [formGroup]="form">
    <h2 class="formulaire__title">S'inscrire</h2>
    <label class="formulaire__label" for="username">Pseudo</label>
    <input class="formulaire__input" type="text" formControlName="username">

    <label class="formulaire__label" for="password">Mot de passe</label>
    <input class="formulaire__input" type="password" formControlName="password">

    <label class="formulaire__label" for="firstName">Prénom</label>
    <input class="formulaire__input" type="text" formControlName="firstName">

    <label class="formulaire__label" for="lastName">Nom</label>
    <input class="formulaire__input" type="text" formControlName="lastName">

    <label class="formulaire__label" for="mail">Email</label>
    <input class="formulaire__input" type="email" formControlName="mail">

    <button class="formulaire__submit" type="submit" (click)="submit()">S'inscrire</button>

    <p class="formulaire__errors" *ngIf="errors">{{errors}}</p>
</form>