<article *ngIf="project" class="project">
    <h2 class="project__title">{{project.name}}</h2>
    <div *ngIf="user.length > 0" class="project__container">
        <a class="project__link" [routerLink]="['/modifyProject/' + project.id]"><img  class="project__icon" src="../../../assets/icon/Edit.png" alt="an icon of a pen"></a>
        <button (click)="deleteProject()" class="project__button"><img  class="project__icon" src="../../../assets/icon/Trash.png" alt="an icon of a trash"></button>
        <a class="project__new" [routerLink]="['/newTicket/' + project.id]">Ajouter un nouveau ticket +</a>
    </div>    
    <p class="project__description">{{project.description}}</p>
    <p class="project__date">{{project.date}}</p>
    <p class="project__author">{{project.user.username}}</p>
    <section class="project__tickets tickets">
        <div class="tickets__container">
            <h2 class="tickets__title"> TO DO</h2>
            <div class="tickets__details" *ngFor="let ticket of project.tickets | orderBy : 'date'">
                <article class="tickets__ticket ticket" *ngIf="ticket.etat == etat.TODO">
                    <p class="ticket__title">{{ticket.title}}</p>
                    <p class="ticket__content">{{ticket.content | slice:0:50}} ...</p>
                    <p class="ticket__date">{{ticket.date}}</p>
                    <a [routerLink]="['/ticket/' + ticket.id]" class="ticket__link">See Details</a>
                </article>
            </div>
        </div>
        <div class="tickets__container">
            <h2 class="tickets__title"> IN PROGRESS</h2>
            <div  class="tickets__details" *ngFor="let ticket of project.tickets | orderBy : 'date'">
                <article class="tickets__ticket ticket" *ngIf="ticket.etat == 'INPROGRESS'">
                    <p class="ticket__title">{{ticket.title}}</p>
                    <p class="ticket__content">{{ticket.content | slice:0:50}} ...</p>
                    <p class="ticket__date">{{ticket.date}}</p>
                    <a [routerLink]="['/ticket/' + ticket.id]" class="ticket__link">See Details</a>
                </article>
            </div>
        </div>
        <div class="tickets__container">
            <h2 class="tickets__title"> DONE</h2>
            <div class="tickets__details" *ngFor="let ticket of project.tickets  | orderBy : 'date'">
                <article class="tickets__ticket ticket"  *ngIf="ticket.etat == 'DONE'">
                    <p class="ticket__title">{{ticket.title}}</p>
                    <p class="ticket__content">{{ticket.content | slice:0:50}} ...</p>
                    <p class="ticket__date">{{ticket.date}}</p>
                    <a [routerLink]="['/ticket/' + ticket.id]" class="ticket__link">See Details</a>
                </article>
            </div>
        </div>
    </section>
    
</article>
