@font-face {
    font-family: "Nunito";
    src: url("../../../assets/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Open sans";
    src: url("../../../assets/OpenSans/OpenSans-Regular.ttf");
}
.project {
    grid-column: 1/ span 12;
    display : grid; 
    grid-template-columns: repeat(12, 1fr);
    margin : {
        left : 50px; 
        right : 150px; 
        top : 30px; 
        bottom : 30px; 
    }
    &__title {
        grid-column: 1/ span 6;
        font-size: 50px;
        font-family: "Nunito";
        margin : 0
    }
    &__description {
        grid-column: 1/ span 12;
        font-family: "Open Sans";
        font-size: 25px;
    }
    &__date {
        grid-column: 1/ span 3;
        font-size: 20px;
        font-family: "Open Sans";
    }
    &__author{
        grid-column: 12/ span 1;
        font-size: 25px;
        font-family: "Open Sans";
    }
    &__ticket {
        grid-column:  span 3;
    }
    &__container {
        grid-column: 7/ span 6;
    }
    &__link{
        margin-right : 20px;
    }
    &__button {
        background-color: transparent;
        border: none;
    }
    &__icon {
        height : 30px; 
        margin-top: 15px;
    }
    &__new {
        color : white;
        font-family: "Open Sans";
        background-color: #BF1D67;
        padding : 5px; 
    }
}
.tickets {
    grid-column: 1/span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color:#BF1D67;
    padding : 10px; 
    &__container {
        grid-column: span 4;
        border : solid 1px #7C86E9;
        padding : 10px; 
    }
    &__title {
        text-align: center;
        font-family: "Nunito";
        font-size: 20px;
    }
}
.ticket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border : solid 1px #BF1D67; 
    background-color: white;
    margin : {
        left : 5px; 
        right : 5px;
        bottom : 15px; 
    }
    padding : 8px; 
    &__title {
        grid-column: 1/span 4;
        font-family: "Nunito";
    }
    &__content {
        grid-column: 1/span 4;
    }
    &__date {
        grid-column: 1/ span 1;
        margin: 0;
    }
    &__link {
        grid-column: 4/ span 1;
        background-color: #BF1D67;
        color : white;
        text-align: center;
    }
}
