// Material

// Import material theming functions
@import '@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-light-blue);
$app-warn: mat-palette($mat-purple);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme((color: (primary: $app-primary,
                accent: $app-accent,
                warning: $app-warn ),
            density: 0,
        ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Export theme colors
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);