/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

/* passer body (et tous les éléments de largeur fixe) en largeur automatique */
body {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;
}

main {
    flex : 1;
}

body::-webkit-scrollbar {
    width : 10px
}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
    max-width: 100%;
}

/* conserver le ratio des images */

img {
    height: auto;
}

/* gestion des mots longs */

textarea,
table,
td,
th,
code,
pre,
samp {
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; /* passage à la ligne forcé */
}

code,
pre,
samp {
    white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
}

/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

.element1,
.element2 {
    float: none;
    width: auto;
}

/* masquer les éléments superflus */

.hide_mobile {
    display: none !important;
}

ul {
    list-style: none;
    padding : 0;
}

a {
    text-decoration: none;
}
//On effectue des beack point en fonction de la tailles des écrans, et on passe sur des grilles plus grandes. 
@media(min-width : 640px) {
    main {

        grid-template-columns: repeat(8, 1fr);
    }
}

@media (min-width : 1000px) {
    // main {
    //     display: grid;
    //     grid-template-columns: repeat(10, 1fr);
    // }    
}

@media (min-width: 1300px) {
    main {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

}

app-header{
    grid-column: 1/span 12;
    display : grid; 
    grid-template-columns: repeat(12, 1fr);
}

app-home{
    grid-column: 1/span 12;
    display : grid; 
    grid-template-columns: repeat(12, 1fr);
    margin : {
        left : 50px; 
        right : 50px;
        top : 50px; 
    }
}

app-project-details{
    grid-column: 1/ span 12;
    display : grid;
    grid-template-columns: repeat(12, 1fr);
}

app-login{
    grid-column: 1/ span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin : {
        top : 30px; 
    }
}

app-form-project {
    grid-column: 1/span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
app-ticket-details{
    grid-column: 1/span 12;
    display : grid; 
    grid-template-columns: repeat(12, 1fr);
}

app-form-ticket {
    grid-column: 1/span 12;
    display : grid; 
    grid-template-columns : repeat(12, 1fr);
}

app-modify-ticket{
    grid-column: 1/span 12;
    display : grid; 
    grid-template-columns: repeat(12, 1fr);
}

app-new-ticket{
    grid-column: 1/span 12;
    display : grid; 
    grid-template-columns: repeat(12, 1fr);
}

app-inscription{
    grid-column: 1/span 12;
    display : grid; 
    grid-template-columns: repeat(12, 1fr);
}
