<div class="formulaire">
    <h2 class="formulaire__title">Connexion</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="formulaire__form">
        <label class="formulaire__label" for="username">Pseudo</label>
        <input class="formulaire__input" type="text" name="username" id="username" formControlName="username" required>
        <label class="formulaire__label" for="password">Mot de passe</label>
        <input class="formulaire__input" type="password" name="password" formControlName="password" required>
        <button id="submit" class="formulaire__button" type="submit">Se connecter</button>
    </form>
</div>
