@font-face {
    font-family: "Nunito";
    src: url("../../../assets/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Open sans";
    src: url("../../../assets/OpenSans/OpenSans-Regular.ttf");
}

.formulaire{
    grid-column: 6 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border : solid 1px #BF1D67;
    padding : 10px; 
    &__title {
        text-align: center;
        font-family: "Nunito";
        text-transform: uppercase;
        grid-column: 1/ span 3;
    }
    &__label {
        grid-column: 1/ span 3;
        font-family: "Open Sans";
    }
    &__input {
        grid-column: 1/ span 3;
    }
    &__form {
        grid-column: 1/span 3;
        display : grid; 
        grid-template-columns: repeat(3 , 1fr);
    }
    &__button {
        margin-top : 10px; 
        grid-column: 1/ span 3;
        background-color: #BF1D67;
        color : white;
        border : none
    }
}