$colorgradient : linear-gradient(45deg, #EE2238, #BF1D67);
@font-face {
    font-family: "Nunito";
    src: url("../../../../assets/Nunito/Nunito-Black.ttf");
}

@font-face {
    font-family: "Open sans";
    src: url("../../../../assets/OpenSans/OpenSans-Regular.ttf");
}

.header{
    grid-column: 1/span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background : $colorgradient;
    margin : 0; 
    &__logo {
        grid-column: 1/span 1;
        height : 100px; 
        margin : 20px; 
    }
    &__title {
        font-family : "Nunito"; 
        font-size: 50px; ;
        grid-column: 2/ span 2;
        color : white; 
        margin : {
            top : 40px;
            left : 30px;  
        }
    }
    &__nav {
        grid-column: 8/ span 4;
        margin-top : 40px;
    }
    &__list{
        display : flex; 
        justify-content: space-around;
        font-family: "Open Sans";
        font-size: 20px;
    }
    &__icon {
        margin-right : 5px; 
        width : 25px; 
    }
    &__link{
        color : white;
        display : flex; 
        justify-content: space-around;
    }
    &__button {
        background-color:transparent;
        color : white;
        border : none;
        font-size: 20px;
        font-family: "Open Sans";
    }
}