<header class="header">
    <img class="header__logo" src="../../../../assets/logo/Monogramme logo Zenika.svg" alt="logo de Zenika">
    <h1 class="header__title">Zira</h1>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item"><a routerLink="/" class="header__link"><img class="header__icon" src="../../../../assets/icon/Home.png" alt="Icon de maison">Accueil</a></li>
            <li *ngIf="user.length == 0" class="header_item"><a routerLink="/login" class="header__link"><img class="header__icon" src="../../../../assets/icon/Lock.png" alt="Icon de cadenas">Connexion</a></li>
            <li *ngIf="user.length > 0" class="header_item"><button (click)="onClick()" class="header__button"><img class="header__icon" src="../../../../assets/icon/Lock.png" alt="Icon de cadenas">Deconnexion</button></li>
            <li *ngIf="user.length == 0" class="header__itm"><a class="header__link" routerLink="/inscription"><img class="header__icon" src="../../../../assets/icon/Inscription.png" alt="icon de papier pour l'inscription">S'inscrire</a></li>
        </ul>
    </nav>
</header>
